* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #001238;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    min-width: 300px;
    min-height: 300px;
}


.text-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;

}

.carousel-row {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 40px;
    display: flex;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to right, transparent, rgb(0, 50, 143) 10%, black 90%, transparent);
    mask-repeat: no-repeat;rgb(0, 0, 0)rgb(0, 0, 0);
    mask-size: 100% 100%;
}

.carousel-track {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap; 
}

.carousel-track img {
    height: 100px;       
    width: auto;  
    border-radius: 12px;
    object-fit: cover;
}

.left-scroll .carousel-track {
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.right-scroll .carousel-track {
    animation: scroll-right 30s linear infinite;
}

@keyframes scroll-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}


