.topbar {
    width: 100%;
    background: #031b45;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 30px;
    font-family: "Anton", sans-serif;
    text-decoration: none;
}


.right a {
    color: #c9d6ff;
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.right a:hover,
.right a.activate {
    color: white;
}

.hamburger {
    display: none;
}


.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}



@media (max-width: 768px) {

    .right {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #032159;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        padding-left: 30px;
        gap: 25px;
        transition: 0.3s ease-in-out;
        z-index: 999;
    }

    .right.open {
        right: 0;
    }

    .right a {
        font-size: 22px;
        color: white;
        display: block;
    }


    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 25px;
        z-index: 1001;
    }


    .hamburger.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}
